version: '3.9'
services:
  web:
    build: .
    container_name: django_web
    env_file:
      - .env
    command: bash -lc "python manage.py migrate && gunicorn SKN17_FINAL_3TEAM.wsgi:application -b 0.0.0.0:8000 --workers 3 --config gunicorn.conf.py --timeout 600"
    volumes:
      - .:/code
      - static_volume:/code/staticfiles
      - media_volume:/code/media
    expose:
      - "8000"
  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "8080:80"
    volumes:
      - static_volume:/static
      - media_volume:/media
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

volumes:
    static_volume:
    media_volume:
